<!--footer section start-->
<section id="footer" class="footer">
    <div class="footer">
        <footer>
            <ul class="social">
                <p>Leuk Somaly</p>
                <p>
                    For more html, css, js and coding tutorial - please click on the link
                    below to subscribe to my channel
                </p>
                <br>
                <a href="#"><fa-icon [icon] = "faFacebook" ></fa-icon></a>
                <a href="#"><fa-icon [icon] = "faInstagram"></fa-icon></a>
                <a href="#"><fa-icon [icon] = "faLinkedin"></fa-icon></a>
            </ul>
            <p class="copyright">copy-right by © leuk.somaly</p>
        </footer>
    </div>
</section>