.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    color: white;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer li {
    padding: 0 10px;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    opacity: 1;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social>a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    background-color: gold;
    color: white;
    opacity: 0.75;
}

.footer .social>a:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.3);
    transition: .3s;
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    color: gold;
}