<!--About section start-->
<section id="about" class="about">
    <div class="main">
        <img src="../assets/imgs/2.png" alt="">
        <div class="btn-about">
            <h2>About Me</h2>
            <h5>Frond-End Developer & Designer</h5>
            <p>
                I am a Frond-End web developer. I can provide clean code and plixel perfect design.
                I also make the website more & more interactive with web animations. I can provide
                clean code and pixel perfect design. I also make the website more & more interactivewith
                web animations. A responsive design makes your website accessible to all users, regardless
                of their device.
            </p>
            <button type="button">Let's Talk</button>
        </div>
    </div>
</section>