<!--services section start-->
<section id="service">
    <div class="service">
        <div class="title">
            <h2>Our Services</h2>
        </div>
        <div class="box">
            <div class="card">
                <a href="#"><fa-icon class="icon" [icon]="faCode"></fa-icon></a>
                <h5>Web design</h5>
                <div class="pra">
                    <p>
                        Every website should be built with two primary goals: Firstly, it needs
                        to work across all devices. Secondly, it needs to be fast as possible.
                    </p>
                    <p style="text-align: center;">
                        <a href="#" class="button">Read More</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><fa-icon class="icon" [icon]="faFirefoxBrowser"></fa-icon></a>
                <h5>Graphic Design</h5>
                <div class="pra">
                    <p>
                        Every website should be built with two primary goals: Firstly, it needs
                        to work across all devices. Secondly, it needs to be fast as possible.
                    </p>
                    <p style="text-align: center;">
                        <a href="#" class="button">Read More</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <a href="#"><fa-icon class="icon" [icon]="faMarker"></fa-icon></a>
                <h5>Editor</h5>
                <div class="pra">
                    <p>
                        Every website should be built with two primary goals: Firstly, it needs
                        to work across all devices. Secondly, it needs to be fast as possible.
                    </p>
                    <p style="text-align: center;">
                        <a href="#" class="button">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>